html{
    margin: 0;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width:100%;
    height:100%;
    color: #000000;
    background: #FFFDD0
}
.body{
    margin: 0;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width:100%;
    height:100%;
    color: #000000;
    background: #FFFDD0;
}
.header{
	padding:5px;
	background-color: #FFE4C4;
	position: fixed;            /* ヘッダーの固定 */
    top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
    height: 40px;              /* 縦幅140px */
    z-index:24;
}
#loginUser{
	margin : 6px;
}
.profile icon {
  color: #000;
  position: absolute;
  margin-left: 3px;
  margin-top: 11px;
  width: 14px;
  height: 6px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px transparent;
  border-radius: 6px 6px 0 0;

}
.profile icon:before {
  content: '';
  position: absolute;
  left: 2px;
  top: -10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: solid 1px currentColor;
}
#headerButton{
	padding:5px;

}
.main-contents {
	margin-top: 30px;
	margin-left: 0px;
	margin-right: 20px;
	width: 100%;
	height: 100%;
	background: #FFFDD0
}
.sort{
	margin: 80px auto;
    width: 380px;                /* 横幅100%　*/
    height: 100%;              /* 縦幅50px */
}
.errorMessages {
	color: red;
	margin: 10px auto;
	width: 100%;
	text-align: center;
}
ul {
  list-style: none;
  width:100%;
  padding-inline-start: 0px;
}
#statasStop{
	color:red;
	background-color: #FFFFFF;
}
#statas{
	background-color: #FFFFFF;
}
#conditions{
	font-size: 12px;
    font-family: "serif";
    background-color: #FFFFFF;
}
.messageArea{
	margin: 30px auto;
    left: 0px;                  /* 位置(右0px) */
    width: 800px;                /* 横幅100%　*/
    word-wrap:break-word;
}
.messages{
	margin-top: 30px auto;
	margin-bottom: 30px;
	top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
    height:100%;              /* 縦幅50px */
    word-wrap:break-word;
}
.message{
	margin-top: 30px auto;
	margin-bottom: 20px;
	top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
    height:100%;              /* 縦幅50px */
    background-color: #F8F8FF;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
    background-color: #F8F8FF;
    font-size: 18px;
    font-family: "serif";
}
.messageText{
	word-wrap:break-word;
    white-space: pre-wrap;
    width: 800px;
}
.deleteButton{
	text-align: right;
}
.comments{
	margin-top: 10px;
	top: 250px;                   /* 位置(上0px) */
    left: 20px;                  /* 位置(右0px) */
    width: 800px;                /* 横幅100%　*/
    height:100%;              /* 縦幅50px */
    font-size: 16px;

}
.comment{
	margin: 10px auto;
	top: 250px;                   /* 位置(上0px) */
    left: 20px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
    height:100%;              /* 縦幅50px */
    border: 2px solid #996633; /*線の太さ・色*/
    background-color: #F8F8FF;
    box-shadow: -2px 5px 5px #e8d3c7; /*影*/
    border-radius: 20px; /*角の丸み*/
}
.commentAjax{
	margin: 10px auto;
    left: 20px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
    height:100%;              /* 縦幅50px */
    border: 2px solid #996633; /*線の太さ・色*/
    background-color: #F8F8FF;
    box-shadow: -2px 5px 5px #e8d3c7; /*影*/
    border-radius: 20px; /*角の丸み*/
}
.text{
	word-wrap:break-word;
    white-space: pre-wrap;
    width: 800px;
}
.form-area {
	margin-top: 5px;

	width: 800px;
	background-color: #FFFDD0;
}
.management{
	margin-top: 30px;
	width: 100%;
	height: 100%;
	background: #FFFDD0
}
#umTable{
	margin: 100px auto;
	width: 1300px;
	border: solid 1px black;
	background-color: #FFFFFF;
}
#umTable th {/*table内のthに対して*/
  	padding: 10px 50px;/*上下左右10pxずつ*/
  	border: solid 1px black;
}
.signup-main-contents{
	margin-top: 100px;
	margin-left: 0px;
	margin-right: 20px;
	width: 100%;
	height: 100%;
	background: #FFFDD0
}
#signUpTable{
	margin: 10px auto;
	width: 550px;
	background-color: #f8f8f8;
	border-collapse: collapse;
}
#signUpTable th{
	padding: 5px 5px;/*上下左右10pxずつ*/
    border:1px solid #333;
}
#input{
	background-color: #FFFFFF;
	text-align: left;
}
#inputNewMessage{
	background-color: #FFFFFF;
	text-align: center;
}
.newmessage-main-contents{
	margin-top: 60px;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
	height: 100%;
	background: #FFFDD0
}
.login-main-contents{
	margin: 0;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width:100%;
    height:100%;
	background: #FFFDD0
}
#loginBox{
	margin: 10px auto;
	width: 320px;
}
.title{
	margin: 50px auto;
	width:100%;
}
#loginBox th{
	padding:5px 5px;

}
.button{
	margin: 10px auto;
	width: 100px;
}
#loginButton{
	width: 100px;
	height:40px;
}
#sarchButton{
	width: 100px;
	height:40px;
}
#record{
	width: 100px;
	height:40px;
}
#newMessageTable{
	margin: 10px auto;
	width: 500px;
	background-color: #f8f8f8;
	border-collapse: collapse;
}
#newMessageTable th{
	padding: 5px 5px;/*上下左右10pxずつ*/
    border:1px solid #333;
}

#editTable th{
	padding: 5px 5px;/*上下左右10pxずつ*/
    border:1px solid #333;
}
.edit-main-contents{
	margin-top: 80px;
	width: 100%;
	height: 100%;
	background: #FFFDD0
}
#editTable{
	margin: 10px auto;
	width: 550px;
	background-color: #f8f8f8;
	border-collapse: collapse;
}
#editTable th{
	padding: 5px 5px;/*上下左右10pxずつ*/
    border:1px solid #333;
}
select{
	width:172px;
}
#categoryLabel{
	width:270px;
}
.copyright{
	margin: 30px auto;
    width: 100%;
    text-align: center;
}
a{
	color:#000000;
	background:#FFE4C4;
	text-decoration:none;
	width: 100%;
    text-align: center;
    font-size:140%;
}
#editButton{
	font-size:0.75em;
	display:block;
	width:50px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	border:2px solid;
	border-color:#aaaaaa #444444 #444444 #aaaaaa;
	background:#cccccc;
}

a#editButton:hover{
background:#777777;
}

#logoutButton{
	text-align: right;
}
a:hover{
	background:#FFFACD;
	border-style:none;
	width: 100%;
    text-align: center;
}
#returnButton{
    font-size:0.75em;
	display:block;
	width:50px;
	padding-top:10px;
	padding-bottom:10px;
	border:2px solid;
	border-color:#aaaaaa #444444 #444444 #aaaaaa;
	background:#cccccc;
	margin : 30px auto;
}
.return{
    width: 100%;
    margin : 30px auto;
    text-align: center;
}